<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Friflo.Engine.ECS" version="1.26.0" manuallyInstalled="true" />
  <package id="Friflo.Json.Burst" version="0.57.0" />
  <package id="Friflo.Json.Fliox" version="0.57.0" />
  <package id="Friflo.Json.Fliox.Annotation" version="0.57.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>