# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Friflo.Json.Flow.iml


/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*
*/
!.gitignore
!jsonSchemas.xml

