

.bin/
.obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# .idea/

# .Net
*.user
**/.vs/

# This project is a code-only project, so script files are not referenced.
# E.g as MonoBehavior scripts with are attached to game objects in regular Unity projects
# ignores: *.user.meta, *.cs.meta, *.asmdef.meta, *.meta (folders), ...
*.meta

Unity.Mathematics
