
*.private.json
/Playground/.idea

bin/
.bin/
obj/
.obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# .idea/

# .NET
*.user
**/.vs/

/nupkgs
*.nupkg

# This project is a code-only project, so script files are not referenced.
# E.g as MonoBehavior scripts with are attached to game objects in regular Unity projects
# ignores: *.user.meta, *.cs.meta, *.asmdef.meta, *.meta (folders), ...
*.meta

# contains Unity.Mathematics
.extern/

*.sync.resp.md
*.sync.resp.json

/node_modules
package-lock.json
/Json.Tests/assets~/img
yarn.lock

# macos
.DS_Store
*.sqlite3