<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github"    value="https://nuget.pkg.github.com/friflo/index.json" protocolVersion="3"/>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="friflo" />
            <add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
        </github>
    </packageSourceCredentials>

    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="Friflo.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>