

bin/
obj/

.idea/
.vs/


!**/*.meta
Tests/**/*.meta


*.DotSettings.user

## Editor

Editor/DB/

## used when create a copy of:
## Fliox.Editor.csproj.xml as Fliox.Editor.csproj
Editor/Fliox.Editor.csproj

## Test Coverage file
coverage.cobertura.xml

## Test Coverage Rport folder
Report/
