# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Friflo.Json.Burst.iml

/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*
*/
!.gitignore
